<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sybil AI", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Global Ranking",    '/global_ranking' %></li>
	  <li><%= link_to "Local Ranking", '/local_ranking' %></li>
          <li><%= link_to "Pong", '/pong' %></li>
	  <li><%= link_to "Documentation", '/documentation' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
